@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-Regular.ttf) format('TrueType');
}
@font-face {
    font-family: 'PoppinsBold';
    src: url(/fonts/Poppins-Bold.ttf) format('TrueType');
}
@font-face {
    font-family: 'PoppinsMedium';
    src: url(/fonts/Poppins-Medium.ttf) format('TrueType');
}
@font-face {
    font-family: 'PoppinsLight';
    src: url(/fonts/Poppins-Light.ttf) format('TrueType');
}
@font-face {
    font-family: 'PoppinsSemiBold';
    src: url(/fonts/Poppins-SemiBold.ttf) format('TrueType');
}

